body{
    background-color: #141414;
}

.postContainer{
    width:50%;
    margin:2rem auto;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.post{
    padding:1rem;
    border-radius:5px;
}

.post:hover{
    background-color: var(--dark);
}

.postTitle,.postReadMore{
    display: block;
    margin-bottom:1rem;
    color:var(--light)
}

.postTitle{
    font-size:17px;
    font-weight:700;
}

.postTitle:hover{
    text-decoration:underline;
}

.postReadMore{
    font-size: 15px;
    font-weight: 600;
    color:rgb(7, 137, 224);
}

@media only screen and (max-width:700px){
    .searchContainer{
        width:100%;
    }

    .postContainer{
        width:80%;
    }

}