.backBtn{
    display: none;
}

.menu{
    display:none;
    flex-direction: column;
    gap:9px;
}

.menu div{
    height: 3px;
    background-color: var(--light);
}

.menu :first-child{
    width:30px;
}

.menu :nth-child(2){
    width:25px;
}

.menu :last-child{
    width:20px;
}

.introSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:3rem 0;
}

.introText{
    width:40%;
    display: flex;
    flex-direction: column;
}

.introText p{
    color:var(--light);
    font-weight:500;
    margin:15px 0;
}

.introText h1{
    color:var(--light);
    font-size: 40px;
}

.imgSection{
    width:40%;
}

.imgSection img{
    width:80%;
    border-radius:50%;
}

.aboutSection{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:5rem 0;
    background-color: var(--dark);
}

.aboutSection h2{
    color:var(--light);
    font-size: 25px;
    margin-bottom:12px;
}

.aboutSection>div{
    width:35%;
}

.about p{
    color:var(--light);
    margin-bottom:40px;
}

.skills div{
    display:flex;
    flex-wrap: wrap;
}

.skills div p{
    padding:10px;
    background-color: var(--light);
    color:var(--dark);
    margin:12px 12px 0 0;
}

.projectsSection{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    color:var(--light);
    padding:5rem 0;
}

.projectsSection h1{
    margin:auto;
}

.projects{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projects div{
    width:35%;
}

.projects h2,.projects p{
    margin-bottom:2rem;
}

.contactSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    padding:5rem 0;
    background-color: var(--dark);
}

.contactSection h1{
    color: var(--light);
}

.contactSection p{
    width:40%;
    text-align: center;
    font-size: 14px;
    color: var(--light);
}

@media only screen and (max-width:700px){
    header{
        flex-direction:column;
        align-items: flex-start;
        gap:4rem;
        background-color: var(--dark);
        width:100vw;
        height:100vh;
        padding:3rem 3rem;
        position:absolute;
        left:-800px;
        z-index: 2;
        top:0px;
        transition: 500ms left;
    }

    .backBtn{
        display:flex;
    }

    .navigation{
        margin:0;
    }

    .navigation ul{
        flex-direction: column;
        gap:1rem;
    }

    .navigation ul li{
        margin:0;
    }

    .menu{
        display:flex;
        position:absolute;
        top:2rem;
        right:2rem;
        cursor:pointer;
    }

    .introSection{
        margin-top:4rem;
        flex-direction: column-reverse;
        align-items: center;
    }

    .introText{
        width:80%;
        text-align: center;
    }

    .imgSection{
        width:60%;
    }

    .imgSection img{
        width:100%;
    }

    .aboutSection{
        gap:4rem;
    }

    .aboutSection div{
        width:80%;
    }

    .projects{
        gap:4rem;
    }

    .projects div{
        width:80%;
    }

    .contactSection p{
        width:80%;
    }
}

@media only screen and (min-width:700px){
    .menu{
        display: none;
    }

    header{
        left:-800px;
    }
}