*{
    padding:0;
    margin:0;
    font-family:'JetBrains Mono',monospace;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #1D1D1D;
}

/* Primary colors */

:root{
    --light:#D9D9D9;
    --dark:#1D1D1D;
}

a{
    text-decoration:none;
}

ul{
    list-style: none;
}

/* Header Styles */

header{
    display:flex;
    align-items: center;
    height: 5rem;
    padding:0 5rem;
}

.navigation{
    margin:auto
}

.navigation ul{
    display:flex;
    flex-direction: row;
}

.navigation ul li{
    margin-right:3rem;
}

.navigation ul li a{
    display: block;
    color:var(--light);
    font-size:14px;
    font-weight: 500;
    padding:7px 0;
}

.navigation ul li a div{
    height:4px;
    width:15px;
    background-color:#bdbdbd;
    margin-top:5px;
    transition:width 500ms;
}

/* Back button */

.backBtn{
    display:flex;
    align-items: center;
    gap:10px;
    color:var(--light);
    font-size:16px;
    font-weight:800;
    cursor:pointer;
}

/* global button */

.btn{
    color:var(--light);
    font-size:14px;
    font-weight: 500;
    padding:10px 15px;
    border:2px solid var(--light);
}

.btn:hover{
    color:var(--dark);
    background-color: var(--light);
}