.emptyMessage{
    color:white;
    font-size: 13px;
    margin:2rem auto;
    color:var(--light)
}

.message{
    position:relative;
    padding:1rem;
    border-radius: 5px;
}

.message:hover{
    background-color: #252525;
    cursor: pointer;
}

.messageTopContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#messageCloseBtn{
    font-size: 18px;
    color:white;
    padding:5px;
    cursor:pointer;
    border-radius: 5px;
}

.messageData{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.messageData p{
    color:var(--light);
    font-size: 12px;
    font-weight: 500;
}

.senderEmail,.messageSubject,.messageContent{
    color:var(--light);
    margin:10px 0;
    font-size: 13px;
}

.senderEmail span,.messageSubject span{
    font-weight: 600;
}

.messageOptions{
    top:55px;
    right:15px;
}

.messagePopup{
    display:none;
    position:absolute;
    padding:1rem;
    width:500px;
    top:12rem;
    left:50%;
    margin-left:-250px;
    background-color: var(--dark);
    flex-direction: column;
    border-radius: 5px;
    z-index:6
}

#replyTextArea{
    padding:10px;
    color:var(--light);
    background-color: var(--dark);
    border-radius: 5px;
    margin-bottom:10px
}

#replyBtn{
    width: fit-content;
}



@media only screen  and (max-width:700px){

    .messagePopup{
        width:400px;
        margin-left:-200px;
    }

}