.form{
    width:30%;
    display:flex;
    flex-direction: column;
}

.form label{
    font-size:14px;
    font-weight: 700;
    color:var(--light)
}

.form input,.form textarea{
    margin:5px 0 1rem 0;
    border:0;
    padding:15px;
}

.form button{
    background-color:transparent;
}

@media only screen and (max-width:700px){
    .form{
        width:70%;
    }
}